<a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" (click)="markAllNotificationRead()">
  <div class="notification-icon">
    <i class="fa-solid fa-bell"></i>
    <span class="badge">{{ totalNotificationIsNotRead }}</span>
  </div>
</a>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="notification-container" 
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="200"
  [scrollWindow]="false"
  (scrolled)="onScroll()">
    <div class="activity-header">
      <h2>Thông báo</h2>
      <!-- <div>
        <i
          nz-tooltip
          nzTooltipTitle="Đánh dấu tất cả là đã đọc"
          nzTooltipColor="#f44336"
          class="fa-solid fa-list-check icon-check-noti"
        ></i>
        <span class="icon">⚙️</span> 
      </div> -->
    </div>
    <div class="activity-date">{{ dateTimeNow }}</div>
    <div *ngIf="isEmptlist">
      <app-page-empty></app-page-empty>
    </div>
    @if(realtimeNotifications.length > 0) {

    
    @for(r of realtimeNotifications; track r.timestamp + '-' + $index) {
      <div (click)="markNotificationRead(r)"
      class="notification-item"
      [ngClass]="{unread : r.isRead}"
      nz-menu-item>
    <div class="icon m-r-10">📋</div>
    <div class="text">
      <div>
        <p>{{r.title}}</p>
        <span class="time">{{r.message}}</span>
      </div>
      <span class="time">{{getTimeAgo(r.timestamp)}}</span>
    </div>    
      </div>
    }
  }
  @let list = (data$ | async);

@if(list && list.items.length > 0) {
  
  @for(item of list.items; track item.reminderId) {
    <div
      (click)="ChangeIsRead(item)"
      class="notification-item"
      [ngClass]="{ unread: item.isRead }"
      nz-menu-item>
      <div class="icon m-r-10">📋</div>
      <div class="text">
        <div>
          <p>{{ item.title }}</p>
          <span class="time">{{ item.message }}</span>
        </div>
        <span class="time">{{ getTimeAgo(item.triggerTime) }}</span>
      </div>
    </div>
  }
} @else {
  <div class="empty">Không có thông báo nào</div>
}
  </div>
</nz-dropdown-menu>
