<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Thêm việc gốc mới"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
>
  <ng-template #modalContent>
    <div
      class="select-person"
      style="
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
      "
    >
      <div class="title-despJob">Tên công việc :</div>
      <div style="flex: 1">
        <input nz-input nzSize="default" [(ngModel)]="jobName" type="text" />
      </div>
    </div>
    <div class="center-flex m-b-10">
      <div class="title-despJob">Chọn lịch trình :</div>
      <div style="flex: 1">
        <nz-range-picker
          [nzShowTime]="{ nzFormat: 'HH:mm' }"
          nzFormat="yyyy-MM-dd HH:mm"
          ngModel
          (ngModelChange)="onChange($event)"
        ></nz-range-picker>
      </div>
    </div>
    <div class="center-flex">
      <div class="title-despJob">Nội dung công việc :</div>

      <div style="flex: 1; margin-bottom: 10px">
        <textarea
          nz-input
          placeholder=""
          [(ngModel)]="description"
          [nzAutosize]="{ minRows: 2, maxRows: 10 }"
        ></textarea>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy bỏ</button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="isConfirmLoading"
    >
      Xác nhận
    </button>
  </ng-template>
</nz-modal>
